<div class="flex flex-col gap-2">

  <div class="flex gap-2">
    <input (keyup.enter)="onAddTodo()" [formControl]="newTodoControl" class="custom-input" type="text" placeholder="Add new todo">
    <button (click)="onAddTodo()" class="custom-button"> Add</button>
  </div>

  <hr class="my-2">

  <div class="flex gap-2 justify-center">
    <div class="flex items-center">
      <input [checked]="true" (change)="onFilterTodos('all')" class="custom-radio" type="radio" id="all" name="filter-option">
      <label for="all"> All </label>
    </div>
    <div class="flex items-center">
      <input  (change)="onFilterTodos('completed')" class="custom-radio" type="radio" id="completed" name="filter-option">
      <label for="completed"> Completed </label>
    </div>
    <div class="flex items-center">
      <input  (change)="onFilterTodos('pending')" class="custom-radio" type="radio" id="pending" name="filter-option">
      <label for="pending"> Pending </label>
    </div>
  </div>

  <ul>

    @for (todo of filteredTodos(); track todo.id) {
      <li class="flex items-center justify-between bg-light-gray my-2 px-4 py-2">
        <span> {{ todo.text }} </span>
        <input (change)="onToggleTodo(todo.id)" [checked]="todo.completed"  class="custom-checkbox" type="checkbox">
      </li>
    } @empty {
      <p class="italic text-center"> No records available </p>
    }

  </ul>

</div>
