<h1 class="custom-h1">Signals Fn - Examples</h1>
<hr class="custom-divider">

<h2 class="custom-h2"> Writable Signals </h2>
<section>
  <h3 class="custom-h3"> Counter App </h3>
  <div class="custom-example-container">
    <app-counter/>
  </div>
</section>

<h2 class="custom-h2"> Writable and Computed Signals </h2>
<section>
  <h3 class="custom-h3"> IMC Calculator App </h3>
  <div class="custom-example-container">
    <app-imc-calculator/>
  </div>
</section>

<h2 class="custom-h2"> Writable Signals, Computed Signals & Effect </h2>
<section>
  <h3 class="custom-h3"> Todo List App </h3>
  <div class="custom-example-container">
    <app-todo-list/>
  </div>
</section>

<h2 class="custom-h2"> Effect & Untracked </h2>
<p> the "Effect" will only be executed/activated when the signal A emits a new value. </p>
<section>
  <h3 class="custom-h3"> untracked usage </h3>
  <div class="custom-example-container">
    <app-untracked-example />
  </div>
</section>
