<p>demo-signals works</p>





























<!--<h2 class="custom-h2"> Writable and Computed Signals </h2>-->
<!--&lt;!&ndash; EXAMPLE #1 &ndash;&gt;-->
<!--<h3 class="custom-h3"> IMC Calculator </h3>-->
<!--<section class="custom-example-container">-->
<!--  <app-imc-calculator/>-->
<!--</section>-->


<!--<h2 class="custom-h2"> Writable, Computed Signals and Effect </h2>-->
<!--&lt;!&ndash; EXAMPLE #1 &ndash;&gt;-->
<!--<h3 class="custom-h3"> Todo List </h3>-->
<!--<section class="custom-example-container">-->
<!--  <app-todo-list/>-->
<!--</section>-->

